DATABASE_URL=

ETH_AMB_ADDRESS=
GC_AMB_ADDRESS=
ETH_XDAIBRIDGE_ADDRESS=
GC_XDAIBRIDGE_ADDRESS=

VALIDAOTR_ADDR=
XDAI_VALIDATOR_PRIV_KEY=
AMB_VALIDATOR_PRIV_KEY=

ETH_RPC=
GC_RPC=
ETH_BC_RPC=
GC_BC_RPC=